// Responsive mixins
@mixin desktop-lg() {
  @media (max-width: $desktop-lg) {
    @content;
  }
}
@mixin desktop-sm() {
  @media (max-width: $desktop-sm) {
    @content;
  }
}
@mixin tablet-lg() {
  @media (max-width: $tablet-lg) {
    @content;
  }
}
@mixin tablet-sm() {
  @media (max-width: $tablet-sm) {
    @content;
  }
}

@mixin mobile-lg() {
  @media (max-width: $mobile-lg) {
    @content;
  }
}
@mixin mobile-sm() {
  @media (max-width: $mobile-sm) {
    @content;
  }
}
@mixin mobile-landscape() {
  @media (orientation: landscape) and (max-height: 580px) and (max-width: 820px) {
    @content;
  }
}

@mixin below($value) {
  @media (max-width: $value) {
    @content;
  }
}
@mixin above($value) {
  @media (min-width: $value) {
    @content;
  }
}
@mixin imageFit($width, $height, $fit) {
  width: $width;
  height: $height;
  object-fit: $fit;
}
@mixin font($size, $line, $color, $weight) {
  font-size: $size;
  line-height: $line;
  color: $color;
  font-weight: $weight;
}

$classLimit: 200;

@mixin padding-top-classlist {
  @for $i from 1 through $classLimit {
    .pt-#{$i} {
      padding-top: #{$i}px !important;
      @media (max-width: 990px) {
        padding-top: 40px !important;
      }
    }
  }
}

@include padding-top-classlist;
@mixin padding-bottom-classlist {
  @for $i from 1 through $classLimit {
    .pb-#{$i} {
      padding-bottom: #{$i}px !important;
      @media (max-width: 990px) {
        padding-bottom: 40px !important;
      }
    }
  }
}

@include padding-bottom-classlist;

@mixin margin-top-classlist {
  @for $i from 1 through $classLimit {
    .mt-#{$i} {
      margin-top: #{$i}px !important;
      @media (max-width: 990px) {
        margin-top: 40px !important;
      }
    }
  }
}

@include margin-top-classlist;
@mixin margin-bottom-classlist {
  @for $i from 1 through $classLimit {
    .mb-#{$i} {
      margin-bottom: #{$i}px !important;
      @media (max-width: 990px) {
        margin-bottom: 40px !important;
      }
    }
  }
}

@include margin-bottom-classlist;
